.aboutCont {
  background-color: #f2f2f2;
  padding: 1rem 0 2rem 0;
}
.About {
  max-width: 1280px;
  margin: auto;
  padding: 0 1.5rem 0 1.5rem;
}
.About h2,
h3 {
  padding: 2rem 0 1rem 0;
}
.About h4 {
  padding: 0.25rem 0 0.25rem 0;
}
.About li {
  list-style-type: none;
  padding: 0 0 0 1rem;
}
.About a {
  color: inherit;
  text-decoration: none;
}
